<% tasks.each do |task| %>
  <div class="row">
    <% if task.important %>
    <div class="col-lg-6 important-task-block" >
    <% else %>
    <div class="col-lg-6 task-block">
    <% end %>
        <table style="width: 100%;">
          <td style="text-align: left;">
              <h4><a href="<%= TitleParser.parse(task) %>"><%= %{#{task.title}} %></a></h4>
          </td>
          <td style="text-align: right; width: 10%;">
            <% if task.finish_time.nil? %>

            <% elsif (day <=>  task.finish_time) < 0 %>
            <h4> <span class="label label-info"> <%= %{#{task.finish_time}} %> </span> </h4>
            <% else %>
              <h4> <span class="label label-danger"> <%= %{#{task.finish_time}} %> </span> </h4>
            <% end %>
          </td>
          <td style="text-align: right;width: 10%;">
              <a class="btn btn-default" href="/finish/<%=task.id%>" type="submit" id="finish/<%=task.id%>">Finish</a>
          </td>

        </table>
    </div>
  </div>
  <br>

<% end %>
